body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px !important;
}
.menu-principal {
    background-color: rgb(39, 39, 39);
    height: 60px;
}
main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    padding: 12px;
    width: 70%;
}
.redes-sociais ul li {
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 15px;
}
.redes-sociais {
    width: 20%;
    float: right;
}
.header-2 {
    background-color: rgb(255, 255, 255);
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
.menu ul li {
    display: inline-block;
    color: #666666;
    margin-left: 17px;
    height: 47px;
}
.menu ul li:hover {
    border-bottom: 2.5px dotted rgb(40, 100, 189);
}
.menu ul li a:hover {
    color:rgb(40, 100, 189);
}
.menu ul li a {
    color: #666666;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu {
    width: 70%;
    float: left;
}
.busca {
    text-align: center;
    width: 30%;
    float: right;
}
.busca input:hover {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
}
.busca input {
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: 95%;
    height: 33px;
    width: 175px;
    padding-left: 17px;
    margin-top: 10px;
    border: 1px solid #969696;
}
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}
.menu-urls {
    height: 80px;
    border-bottom: 3px solid rgb(228, 228, 228);
}
.slider-principal {
    width: 100%;
}
button.slick-prev {
    font-size: 0px;
    border: 0px;
    width: 250px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 9;
    top: 0%;
    left: 0%;
}
button.slick-next {
    font-size: 0px;
    border: 0px;
    width: 260px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 9;
    top: 0%;
    right: 0%;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 4px solid white;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 47%;
    top: 95%;
}
li.slick-active button {
    background: rgb(40, 100, 189);
}
.slick-dots li {
    padding-left: 7px;
    display: inline-block;
}
.texto-destaque {
    text-align: center;
}
.texto-destaque p {
    font-size: 15px;
    margin: 0 auto;
    padding-bottom: 10px;
    color: #666666;
}
.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #4b4b4b;
}
